In [2]:
! pip install pandas
! pip install numpy

Requirement already satisfied: pandas in d:\pycharmprojects\time_series\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\pycharmprojects\time_series\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\pycharmprojects\time_series\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in d:\pycharmprojects\time_series\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in d:\pycharmprojects\time_series\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 21.1.2; however, version 23.0.1 is available.
You should consider upgrading via the 'D:\PycharmProjects\Time_Series\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in d:\pycharmprojects\time_series\lib\site-packages (1.24.2)

WARNING: You are using pip version 21.1.2; however, version 23.0.1 is available.
You should consider upgrading via the 'D:\PycharmProjects\Time_Series\Scripts\python.exe -m pip install --upgrade pip' command.

In [16]:
import datetime

hogmanay = datetime.date(2023, 12, 31)
teatime = datetime.time(17, 15, 5, 100)
fulltime = datetime.datetime(2023, 12, 31, 17, 15, 5, 100)

print(hogmanay)
print(teatime)
print(fulltime)

datetime_today = datetime.datetime.now()

print(datetime_today)
print(datetime_today.date())
print(datetime_today.time())

# or
datetime_today = datetime.datetime.today()

print(datetime_today)
print(datetime_today.date())
print(datetime_today.time())

2023-12-31
17:15:05.000100
2023-12-31 17:15:05.000100
2023-03-01 10:14:47.650056
2023-03-01
10:14:47.650056
2023-03-01 10:14:47.650057
2023-03-01
10:14:47.650057

delta = timedelta(

    days=50,

    seconds=27,

    microseconds=10,

    milliseconds=29000,

    minutes=5,

    hours=8,

    weeks=2
)

In [34]:
import datetime

start = datetime.datetime(2023, 5, 15, 12, 0)
end = datetime.datetime(2023, 6, 4, 9, 0)
 
difference = end - start

print(difference) # timedelta object

print(difference.days)
print(difference.seconds)
print(difference.microseconds)

# Note years, weeks, minutes and hours are not stored. So difference.hours is an error.

# We can also add TimeDeltas to time.
end2 = start + difference

print(end2) # The result is a DateTime.

19 days, 21:00:00
19
75600
0
2023-06-04 09:00:00

In [37]:
import datetime

start = datetime.datetime(2023, 5, 15, 12, 0)
end = datetime.datetime(2023, 6, 4, 9, 0)
difference = end - start

print(start, type(start))
print(end, type(end))
print(difference, type(difference))

s_start = str(start)
s_end = str(end)
s_difference = str(difference)

print(s_start, type(s_start))
print(s_end, type(s_end))
print(s_difference, type(s_difference))

2023-05-15 12:00:00 <class 'datetime.datetime'>
2023-06-04 09:00:00 <class 'datetime.datetime'>
19 days, 21:00:00 <class 'datetime.timedelta'>
2023-05-15 12:00:00 <class 'str'>
2023-06-04 09:00:00 <class 'str'>
19 days, 21:00:00 <class 'str'>

In [52]:
import datetime

today = datetime.datetime.today()

print(today)
print(today.strftime('%d/%m/%Y %H:%M'))
print(today.strftime('%c'))

2023-03-01 11:10:42.997098
01/03/2023 11:10
Wed Mar  1 11:10:42 2023

In [53]:
# strptime to convert date into datetime

import datetime
christmas = "25th-12-2023"

christmas_date = datetime.datetime.strptime(christmas, '%dth-%m-%Y')

print(christmas_date, type(christmas_date))

2023-12-25 00:00:00 <class 'datetime.datetime'>

In [68]:
import datetime
import pandas as pd

str1 = '2023-05-15 12:00:00'
str2 = '01/03/2023 11:10'
str3 = 'Wed Mar  1 11:10:42 2023'
str4 = 'Wednesday March  1 11:10:42 2023'
str5 = 'Wed March 1st 11:10:42 2023'
str6 = 'Wed March 2023  1st 11:10:42'
str7 = None
str8 = "Hello World"   # ParserError: Unknown string format

str_list = [str1, str2, str3, str4, str5, str6, str7, str8]

for element in str_list:
    print(pd.to_datetime(element))

2023-05-15 12:00:00
2023-01-03 11:10:00
2023-03-01 11:10:42
2023-03-01 11:10:42
2023-03-01 11:10:42
2023-03-01 11:10:42
None

ParserError: Unknown string format: Hello World present at position 0

# Time Series Basics

In [71]:
import datetime
import pandas

datelist = ["2023-07-06 12:00:00", "2023-08-06 00:00:00"]

print(type(pd.to_datetime(datelist[0])))  # Timestamp
print(type(pd.to_datetime(datelist)))     # DatetimeIndex

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [78]:
import datetime
import pandas as pd
import numpy as np

datelist = ["2023-07-06", "2023-08-06", "2023-05-06","2023-04-06"]
datelist2 = ["2023-07-06", "2023-08-06"]

dt_idx = pd.to_datetime(datelist)
dt_idx2 = pd.to_datetime(datelist2)

p_series1 = pd.Series(np.random.standard_normal(4), index = dt_idx)
p_series2 = pd.Series(np.random.standard_normal(2), index = dt_idx2)


print(p_series1)
print(p_series2)

print(p_series1 + p_series2)

2023-07-06   -0.352590
2023-08-06    2.124956
2023-05-06    0.136239
2023-04-06   -0.136102
dtype: float64
2023-07-06    1.831588
2023-08-06    1.920433
dtype: float64
2023-04-06         NaN
2023-05-06         NaN
2023-07-06    1.478998
2023-08-06    4.045389
dtype: float64

In [91]:
import datetime
import pandas as pd
import numpy as np

datelist = ["2023-07-06", "2023-08-06", "2023-05-06","2023-04-06"]

dt_idx = pd.to_datetime(datelist)

p_series1 = pd.Series(np.random.standard_normal(4), index = dt_idx)

# print(p_series1[1])
# print(p_series1['2023-08-06'])

# print(p_series1['2023-07-06':])  # Start at 7th June - to end
# print(p_series1['2023-05-06':'2023-08-06']) # Start at Between 5 - 8 June inclusive.


# Dataframes
# date_range discussed later
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED") # Also creates DateTimeIndex objects.

df1 = pd.DataFrame(np.random.standard_normal((100,4)), index=dates, columns=["Colorado", "Texas", "New York", "Ohio"])

print(df1.loc['2001-10-31'])

Colorado   -0.906136
Texas      -0.328041
New York    0.663575
Ohio        0.684840
Name: 2001-10-31 00:00:00, dtype: float64

In [100]:
import datetime
import pandas as pd
import numpy as np

datelist = ["2023-03-06", "2023-03-06", "2023-04-06", "2023-04-06", "2023-05-06", "2023-05-06", "2023-06-06","2023-06-06"]

dt_idx = pd.to_datetime(datelist)

p_series1 = pd.Series(np.random.standard_normal(8), index = dt_idx)

#print(p_series1)

print(p_series1['2023-04-06'])  # Both values appear.
print(p_series1.groupby(level=0).count())

2023-04-06    0.683233
2023-04-06   -0.754157
dtype: float64
2023-03-06    2
2023-04-06    2
2023-05-06    2
2023-06-06    2
dtype: int64

In [122]:
import datetime
import pandas as pd
import numpy as np

print(pd.date_range('2023-04-01', '2023-04-30')) # Example 1  Default frequency is 'D'aily. 
print(pd.date_range('2023-04-01', periods = 5))  # Example 2  Default frequency is 'D'aily  - but only 5 days. 
print(pd.date_range('2023-04-01', '2023-04-30', periods = 4))  # Example 3  4 equi-sized periods.
print(pd.date_range(end = '2023-04-30', periods = 4, freq = 'W')) #Example 4  4 weeks ending 30th April.
print(pd.date_range(end = '2023-04-30 08:00', periods = 4, freq = 'W'))#Example 5 4 weeks ending 30th April-time preserved
print(pd.date_range(end = '2023-04-30 08:00', periods = 4, freq = 'W', normalize=True ))#Example 6 Time normalised to Midnight
print(pd.date_range(end = '2023-04-30 08:00', periods = 4, freq = '4H'))#Example 7 4 hourly
print(pd.date_range(end = '2023-04-30 08:00', periods = 4, freq = '15min'))#Example 7 4 hourly
print(pd.date_range(start = '2023-04-30 08:00', periods = 4, freq = 'WOM-2MON'))#Example 8 2nd Friday of month.

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2023-04-01 00:00:00', '2023-04-10 16:00:00',
               '2023-04-20 08:00:00', '2023-04-30 00:00:00'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2023-04-09', '2023-04-16', '2023-04-23', '2023-04-30'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2023-04-09 08:00:00', '2023-04-16 08:00:00',
               '2023-04-23 08:00:00', '2023-04-30 08:00:00'],
              dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2023-04-09', '2023-04-16', '2023-04-23', '2023-04-30'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2023-04-29 20:00:00', '2023-04-30 00:00:00',
               '2023-04-30 04:00:00', '2023-04-30 08:00:00'],
              dtype='datetime64[ns]', freq='4H')
DatetimeIndex(['2023-04-30 07:15:00', '2023-04-30 07:30:00',
               '2023-04-30 07:45:00', '2023-04-30 08:00:00'],
              dtype='datetime64[ns]', freq='15T')
DatetimeIndex(['2023-05-08 08:00:00', '2023-06-12 08:00:00',
               '2023-07-10 08:00:00', '2023-08-14 08:00:00'],
              dtype='datetime64[ns]', freq='WOM-2MON')

# Periods and Period Arithmetic

In [136]:
import pandas as pd

p1 = pd.Period("2023")
print(p1)
print(p1.start_time, p1.end_time)

p2 = pd.Period("2023-01")
print(p2)
print(p2.start_time, p2.end_time)

# OR

p3 = pd.Period("2023", freq="M")
print(p3)
print(p3.start_time, p3.end_time)

p4 = pd.Period('2022-02-09 16:00:00', freq='H')
print(p4)
print(p4.start_time, p4.end_time)

2023
2023-01-01 00:00:00 2023-12-31 23:59:59.999999999
2023-01
2023-01-01 00:00:00 2023-01-31 23:59:59.999999999
2023-01
2023-01-01 00:00:00 2023-01-31 23:59:59.999999999
2022-02-09 16:00
2022-02-09 16:00:00 2022-02-09 16:59:59.999999999

In [152]:
import pandas as pd

p_idx = pd.period_range("2000-01-01", "2000-06-30", freq='M')
p_idx2 = pd.period_range("2000-01-01", "2000-06-30", freq='W')
p_idx3 = pd.period_range("2000-01-01", "2000-06-30", freq='Q')
print(p_idx)
print(type(p_idx))
print(type(p_idx[0]))

ps1 = pd.Series(np.random.standard_normal(6), index = p_idx)
print(ps1)
ps2 = pd.Series(np.random.standard_normal(27), index = p_idx2)
print(ps2)
ps3 = pd.Series(np.random.standard_normal(2), index = p_idx3)
print(ps3)

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')
<class 'pandas.core.indexes.period.PeriodIndex'>
<class 'pandas._libs.tslibs.period.Period'>
2000-01    0.170442
2000-02   -0.567297
2000-03   -0.594737
2000-04    1.135133
2000-05    0.626123
2000-06    0.474174
Freq: M, dtype: float64
1999-12-27/2000-01-02   -0.991568
2000-01-03/2000-01-09    1.231852
2000-01-10/2000-01-16    1.967688
2000-01-17/2000-01-23    1.349355
2000-01-24/2000-01-30   -1.065459
2000-01-31/2000-02-06    0.503245
2000-02-07/2000-02-13    1.022914
2000-02-14/2000-02-20   -1.872258
2000-02-21/2000-02-27    0.219187
2000-02-28/2000-03-05   -0.322280
2000-03-06/2000-03-12    1.057127
2000-03-13/2000-03-19    0.911721
2000-03-20/2000-03-26   -0.103927
2000-03-27/2000-04-02    1.913261
2000-04-03/2000-04-09    0.276319
2000-04-10/2000-04-16   -1.557997
2000-04-17/2000-04-23    0.301758
2000-04-24/2000-04-30   -0.452339
2000-05-01/2000-05-07   -1.404041
2000-05-08/2000-05-14    1.658182
2000-05-15/2000-05-21    1.951935
2000-05-22/2000-05-28   -0.466320
2000-05-29/2000-06-04   -1.276278
2000-06-05/2000-06-11   -0.538850
2000-06-12/2000-06-18   -0.675163
2000-06-19/2000-06-25    0.108097
2000-06-26/2000-07-02    0.462073
Freq: W-SUN, dtype: float64
2000Q1    0.789469
2000Q2    1.578302
Freq: Q-DEC, dtype: float64

# Frequency Conversion

In [161]:
import pandas as pd

p1 = pd.Period("2022", freq = 'A-DEC')

print(p1.start_time, p1.end_time)

p2 = p1.asfreq(freq='W', how='start')
print(p2)

p3 = p1.asfreq(freq='W', how='end')
print(p3)

p4 = p1.asfreq(freq='M', how='start')
print(p4)

p5 = p1.asfreq(freq='M', how='end')
print(p5)

2022-01-01 00:00:00 2022-12-31 23:59:59.999999999
2021-12-27/2022-01-02
2022-12-26/2023-01-01
2022-01
2022-12

In [167]:
# Tax year

import pandas as pd

p1 = pd.Period("2022", freq = 'A-Mar')
print(p1)
print(p1.start_time, p1.end_time)

p2 = p1.asfreq(freq='W', how='start')
print(p2)
print(p2.start_time, p2.end_time)

p3 = p1.asfreq(freq='W', how='end')
print(p3)
print(p3.start_time, p3.end_time)

2022
2021-04-01 00:00:00 2022-03-31 23:59:59.999999999
2021-03-29/2021-04-04
2021-03-29 00:00:00 2021-04-04 23:59:59.999999999
2022-03-28/2022-04-03
2022-03-28 00:00:00 2022-04-03 23:59:59.999999999

# Converting PeriodIndexes

In [172]:
import pandas as pd

periods = pd.period_range("2006", "2009", freq = 'A-DEC')
ps1 = pd.Series(np.random.standard_normal(len(periods)), index=periods)
print(ps1)

periods2 = periods.asfreq(freq='M', how='start')
ps2 = pd.Series(np.random.standard_normal(len(periods)), index=periods2)
print(ps2)

periods3 = periods.asfreq(freq='B', how='end')  # Last business day
ps3 = pd.Series(np.random.standard_normal(len(periods)), index=periods3)
print(ps3)

2006   -0.243650
2007   -1.975639
2008   -0.020935
2009   -0.606388
Freq: A-DEC, dtype: float64
2006-01   -2.095246
2007-01   -0.500988
2008-01   -0.882507
2009-01   -1.278418
Freq: M, dtype: float64
2006-12-29   -0.405091
2007-12-31   -1.731521
2008-12-31    0.295914
2009-12-31    1.166208
Freq: B, dtype: float64

# Quarterly Frequencies

In [25]:
import pandas as pd

per1 = pd.Period("2023Q4", freq='Q-Mar')

print(per1, per1.start_time, per1.end_time)

periods = pd.period_range("2023Q1", "2023Q4", freq = "Q-MAR")
print(type(periods))
for per in periods:
    print(f"Period: {per} starts {per.start_time} and ends {per.end_time}.")

2023Q4 2023-01-01 00:00:00 2023-03-31 23:59:59.999999999
<class 'pandas.core.indexes.period.PeriodIndex'>
Period: 2023Q1 starts 2022-04-01 00:00:00 and ends 2022-06-30 23:59:59.999999999.
Period: 2023Q2 starts 2022-07-01 00:00:00 and ends 2022-09-30 23:59:59.999999999.
Period: 2023Q3 starts 2022-10-01 00:00:00 and ends 2022-12-31 23:59:59.999999999.
Period: 2023Q4 starts 2023-01-01 00:00:00 and ends 2023-03-31 23:59:59.999999999.

# Converting Timestamps to Periods and back

In [24]:
import pandas as pd
import numpy as np

dates = pd.date_range("2022-01-01", periods = 3, freq = 'M')

ps1 = pd.Series(np.random.standard_normal(3), index = dates)
print(ps1)

ps2 = ps1.to_period()
print(ps2)

ps3 = ps1.to_period('M')
print(ps3)

ps4 = ps1.to_period('Q')
print(ps4)

ps5 = ps1.to_period('Q-MAR')
print(ps5)


# To convert back

ps6 = ps2.to_timestamp(how = 'end')
print(ps6)

ps7 = ps2.to_timestamp(how = 'start')
print(ps7)

ps8 = ps4.to_timestamp(how = 'start')
print(ps8)

ps9 = ps4.to_timestamp(how = 'end')
print(ps9)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
2022-01-31    0.591914
2022-02-28    0.309566
2022-03-31   -0.750592
Freq: M, dtype: float64
2022-01    0.591914
2022-02    0.309566
2022-03   -0.750592
Freq: M, dtype: float64
2022-01    0.591914
2022-02    0.309566
2022-03   -0.750592
Freq: M, dtype: float64
2022Q1    0.591914
2022Q1    0.309566
2022Q1   -0.750592
Freq: Q-DEC, dtype: float64
2022Q4    0.591914
2022Q4    0.309566
2022Q4   -0.750592
Freq: Q-MAR, dtype: float64
2022-01-31 23:59:59.999999999    0.591914
2022-02-28 23:59:59.999999999    0.309566
2022-03-31 23:59:59.999999999   -0.750592
dtype: float64
2022-01-01    0.591914
2022-02-01    0.309566
2022-03-01   -0.750592
Freq: MS, dtype: float64
2022-01-01    0.591914
2022-01-01    0.309566
2022-01-01   -0.750592
dtype: float64
2022-03-31 23:59:59.999999999    0.591914
2022-03-31 23:59:59.999999999    0.309566
2022-03-31 23:59:59.999999999   -0.750592
dtype: float64

# PeriodIndex from Arrays

In [28]:
import pandas as pd

ds1 = pd.read_csv("macrodata.csv")
print(ds1.head(4))

p_idx = pd.PeriodIndex(year=ds1["year"], quarter=ds1["quarter"], freq='Q-DEC')

ds1.index = p_idx

print(ds1.head(8))

   year  quarter   realgdp  realcons  realinv  realgovt  realdpi    cpi  \
0  1959        1  2710.349    1707.4  286.898   470.045   1886.9  28.98
1  1959        2  2778.801    1733.7  310.859   481.301   1919.7  29.15
2  1959        3  2775.488    1751.8  289.226   491.260   1916.4  29.35
3  1959        4  2785.204    1753.7  299.356   484.052   1931.3  29.37

      m1  tbilrate  unemp      pop  infl  realint
0  139.7      2.82    5.8  177.146  0.00     0.00
1  141.7      3.08    5.1  177.830  2.34     0.74
2  140.5      3.82    5.3  178.657  2.74     1.09
3  140.0      4.33    5.6  179.386  0.27     4.06
        year  quarter   realgdp  realcons  realinv  realgovt  realdpi    cpi  \
1959Q1  1959        1  2710.349    1707.4  286.898   470.045   1886.9  28.98
1959Q2  1959        2  2778.801    1733.7  310.859   481.301   1919.7  29.15
1959Q3  1959        3  2775.488    1751.8  289.226   491.260   1916.4  29.35
1959Q4  1959        4  2785.204    1753.7  299.356   484.052   1931.3  29.37
1960Q1  1960        1  2847.699    1770.5  331.722   462.199   1955.5  29.54
1960Q2  1960        2  2834.390    1792.9  298.152   460.400   1966.1  29.55
1960Q3  1960        3  2839.022    1785.8  296.375   474.676   1967.8  29.75
1960Q4  1960        4  2802.616    1788.2  259.764   476.434   1966.6  29.84

           m1  tbilrate  unemp      pop  infl  realint
1959Q1  139.7      2.82    5.8  177.146  0.00     0.00
1959Q2  141.7      3.08    5.1  177.830  2.34     0.74
1959Q3  140.5      3.82    5.3  178.657  2.74     1.09
1959Q4  140.0      4.33    5.6  179.386  0.27     4.06
1960Q1  139.6      3.50    5.2  180.007  2.31     1.19
1960Q2  140.2      2.68    5.2  180.671  0.14     2.55
1960Q3  140.9      2.36    5.6  181.528  2.70    -0.34
1960Q4  141.1      2.29    6.3  182.287  1.21     1.08

# Resampling

In [37]:
import pandas as pd

dte_idx = pd.date_range("2022-01-01", periods = 100)

ps1 = pd.Series(np.random.standard_normal(len(dte_idx)), index = dte_idx)
print(ps1)

print(ps1.resample(rule = "M", kind='timestamps').mean())  # Prints month end dates

print(ps1.resample(rule = "M", kind='period').mean()) # Prints periods

2022-01-01    0.831543
2022-01-02   -0.665631
2022-01-03    0.786033
2022-01-04    1.590329
2022-01-05    0.955570
                ...
2022-04-06   -0.073567
2022-04-07   -0.733878
2022-04-08   -1.077471
2022-04-09   -0.073640
2022-04-10   -0.771539
Freq: D, Length: 100, dtype: float64
2022-01-31    0.425038
2022-02-28   -0.225574
2022-03-31   -0.156454
2022-04-30   -0.672656
Freq: M, dtype: float64
2022-01    0.425038
2022-02   -0.225574
2022-03   -0.156454
2022-04   -0.672656
Freq: M, dtype: float64

# Downsampling

In [55]:
import pandas as pd

dte_idx = pd.date_range("2022-01-01", periods = 12, freq = 'T')  # Minutes
ps1 = pd.Series(np.random.standard_normal(len(dte_idx)), index = dte_idx)
#print(ps1)

# Downsample to 5-min intervals
print(ps1.resample(rule = "5min").mean()) # Less values.

# The left bin edge inclusive (closed), the right is exclusive (open).  So 00:00:00 is included in the first bin.
print(ps1.resample(rule = "5min"))

ps2 = ps1.resample(rule = "5min", label = 'right').mean() # Right (exclusive) bin.
print(ps2)


ps3 = ps1.resample(rule = "5min", label = 'right').ohlc() # Right (exclusive) bin.
print(ps3)

2022-01-01 00:00:00    0.603680
2022-01-01 00:05:00    0.068849
2022-01-01 00:10:00    0.489708
Freq: 5T, dtype: float64
DatetimeIndexResampler [freq=<5 * Minutes>, axis=0, closed=left, label=left, convention=start, origin=start_day]
2022-01-01 00:05:00    0.603680
2022-01-01 00:10:00    0.068849
2022-01-01 00:15:00    0.489708
Freq: 5T, dtype: float64
                         open      high       low     close
2022-01-01 00:05:00  1.847903  1.847903 -0.154298 -0.154298
2022-01-01 00:10:00 -1.004770  0.819216 -1.004770  0.819216
2022-01-01 00:15:00  0.158640  0.820777  0.158640  0.820777

# Upsampling & Interpolation

In [61]:
dates = pd.date_range("2000-01-01", periods = 2, freq = "W-WED") 

df1 = pd.DataFrame(np.random.standard_normal((2,4)), index=dates, columns=["Colorado", "Texas", "New York", "Ohio"])

print(df1)

df1_daily = df1.resample("D").asfreq()  # Only one value 
print(df1_daily)

df1_daily = df1.resample("D").ffill()  # Only one value 
print(df1_daily)

df1_daily = df1.resample("D").bfill()  # Only one value 
print(df1_daily)

print(type(df1.resample("D"))) # DatetimeIndexResampler

            Colorado     Texas  New York      Ohio
2000-01-05 -1.484021  0.114890 -1.278319  1.450374
2000-01-12 -0.143693  0.425556  1.115548  0.512192
            Colorado     Texas  New York      Ohio
2000-01-05 -1.484021  0.114890 -1.278319  1.450374
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.143693  0.425556  1.115548  0.512192
            Colorado     Texas  New York      Ohio
2000-01-05 -1.484021  0.114890 -1.278319  1.450374
2000-01-06 -1.484021  0.114890 -1.278319  1.450374
2000-01-07 -1.484021  0.114890 -1.278319  1.450374
2000-01-08 -1.484021  0.114890 -1.278319  1.450374
2000-01-09 -1.484021  0.114890 -1.278319  1.450374
2000-01-10 -1.484021  0.114890 -1.278319  1.450374
2000-01-11 -1.484021  0.114890 -1.278319  1.450374
2000-01-12 -0.143693  0.425556  1.115548  0.512192
            Colorado     Texas  New York      Ohio
2000-01-05 -1.484021  0.114890 -1.278319  1.450374
2000-01-06 -0.143693  0.425556  1.115548  0.512192
2000-01-07 -0.143693  0.425556  1.115548  0.512192
2000-01-08 -0.143693  0.425556  1.115548  0.512192
2000-01-09 -0.143693  0.425556  1.115548  0.512192
2000-01-10 -0.143693  0.425556  1.115548  0.512192
2000-01-11 -0.143693  0.425556  1.115548  0.512192
2000-01-12 -0.143693  0.425556  1.115548  0.512192
<class 'pandas.core.resample.DatetimeIndexResampler'>

In [69]:
# Resampling with periods

dates = pd.period_range("1-2000", "12-2001", freq = "M") 

df1 = pd.DataFrame(np.random.standard_normal((24,4)), index=dates, columns=["Colorado", "Texas", "New York", "Ohio"])

print(df1.head())

annual_df = df1.resample("A-DEC").mean()  # Downsampling periods
print(annual_df)

quarterly_df = annual_df.resample("Q-DEC").ffill()  # Downsampling periods
print(quarterly_df)

quarterly_df = annual_df.resample("Q-DEC").bfill()  # Downsampling periods
print(quarterly_df)

quarterly_df = annual_df.resample("Q-DEC").asfreq()  # Downsampling periods
print(quarterly_df)

quarterly_df = annual_df.resample("Q-DEC", convention='end').asfreq()  # Downsampling periods
print(quarterly_df)

quarterly_df = annual_df.resample("Q-DEC", convention='end').bfill()  # Downsampling periods
print(quarterly_df)

         Colorado     Texas  New York      Ohio
2000-01  0.015151  0.953852 -0.995711  0.000087
2000-02 -0.151977 -0.350934 -1.045689  0.538672
2000-03  0.372300  0.512544 -0.169855  0.468751
2000-04  0.224493 -1.024273  0.874761 -0.283475
2000-05 -1.760811  1.386356 -0.110558 -0.415624
      Colorado     Texas  New York      Ohio
2000  0.251712  0.216944 -0.213896  0.337844
2001  0.014047  0.006086 -0.149293  0.349545
        Colorado     Texas  New York      Ohio
2000Q1  0.251712  0.216944 -0.213896  0.337844
2000Q2  0.251712  0.216944 -0.213896  0.337844
2000Q3  0.251712  0.216944 -0.213896  0.337844
2000Q4  0.251712  0.216944 -0.213896  0.337844
2001Q1  0.014047  0.006086 -0.149293  0.349545
2001Q2  0.014047  0.006086 -0.149293  0.349545
2001Q3  0.014047  0.006086 -0.149293  0.349545
2001Q4  0.014047  0.006086 -0.149293  0.349545
        Colorado     Texas  New York      Ohio
2000Q1  0.251712  0.216944 -0.213896  0.337844
2000Q2  0.014047  0.006086 -0.149293  0.349545
2000Q3  0.014047  0.006086 -0.149293  0.349545
2000Q4  0.014047  0.006086 -0.149293  0.349545
2001Q1  0.014047  0.006086 -0.149293  0.349545
2001Q2       NaN       NaN       NaN       NaN
2001Q3       NaN       NaN       NaN       NaN
2001Q4       NaN       NaN       NaN       NaN
        Colorado     Texas  New York      Ohio
2000Q1  0.251712  0.216944 -0.213896  0.337844
2000Q2       NaN       NaN       NaN       NaN
2000Q3       NaN       NaN       NaN       NaN
2000Q4       NaN       NaN       NaN       NaN
2001Q1  0.014047  0.006086 -0.149293  0.349545
2001Q2       NaN       NaN       NaN       NaN
2001Q3       NaN       NaN       NaN       NaN
2001Q4       NaN       NaN       NaN       NaN
        Colorado     Texas  New York      Ohio
2000Q4  0.251712  0.216944 -0.213896  0.337844
2001Q1       NaN       NaN       NaN       NaN
2001Q2       NaN       NaN       NaN       NaN
2001Q3       NaN       NaN       NaN       NaN
2001Q4  0.014047  0.006086 -0.149293  0.349545
        Colorado     Texas  New York      Ohio
2000Q4  0.251712  0.216944 -0.213896  0.337844
2001Q1  0.014047  0.006086 -0.149293  0.349545
2001Q2  0.014047  0.006086 -0.149293  0.349545
2001Q3  0.014047  0.006086 -0.149293  0.349545
2001Q4  0.014047  0.006086 -0.149293  0.349545